/* Home Page */

:root {
    --height: 15em;
    --width: 15em;
    --quantity: 6;
}

.mobile-nav {
    display: none;
}

[aria-current] {
    scale: 1.04;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    min-height: 100svh;
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.desktop-nav {
    text-decoration: none;
    font-size: clamp(.5em, 2vw, 2em);;
}

.desktop-nav .links a {
    margin: 0 1em;
    padding: .5em;
    text-decoration: none;
    transition: .5s;
}

.desktop-nav .links a:hover {
    background-color: blue;
    color: white;
    padding: .5em;
    border-radius: .2em;
}

.desktop-nav .icon-links .bi-person {
    height: clamp(.5em, 2vw, 2em);
}

.desktop-nav .icon-links .bi-cart3 {
    height: clamp(.5em, 2vw, 2em);
}

.landing .heading h1 {
    font-size: clamp(2em, 7vw, 4em); /* container query inline-size */
}

.landing .sub-heading h3 {
    font-size: clamp(1em, 3vw, 4em);
}

.title {
    text-align: center;
    margin: 1em 0;
}

.slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right, 
        transparent, 
        black 10% 90%, 
        transparent);
    margin: 5em 0;
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 6s linear infinite;
    transition: filter .3s;
    animation-delay: calc( (6s / var(--quantity)) * (var(--position) - 1) );
}

.slider .list .item img {
    width: 100%;
}

.slider .carousel {
    cursor: pointer;
}

@keyframes autoRun {
    from {
        left: calc(var(--width) * -1);
        }
        to {
            left: 100%
            }
            }
            
            .slider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.slider .item:hover {
    filter: grayscale(0);
}

footer {
    background-color: black;
    color: white;
}

footer .company-links {
    display: flex;
    justify-content: space-between;
}

.company-links {
    border-bottom: 2px solid white;
    margin: 1em 4cqi 5em;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}
        
.social-links svg {
    height: 1.5em;
    padding-left: 1em;
}

.footer-nav {
    margin: 0 3cqi 5em;
    display: flex;
    justify-content: space-around;
}

.footer-nav a {
    text-decoration: none;
    color: white;
}

.footer-nav h3 {
    font-size: 1.5em;
}

.company-info {
    display: flex;
    flex-direction: column;
}

.company-info a:hover {
    opacity: .7;
}

.footer-signup {
    text-align: center;
    width: clamp(.1em, 30vw, 40em);
}

.footer-signup form {
    display: flex;
    flex-direction: column;
}

.footer-signup .input-email {
    margin: .5em 0;
}

.copyright {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
}

.copyright a {
    text-decoration: none;
    color: black;
}

.copyright a, p {
    font-size: clamp(1em, 2vw, 1.3em);
}

a, p {
    font-size: clamp(1em, 2vw, 1.3em);
}

h3 {
    font-size: clamp(1.5em, 3vw, 3em);
}

/* About Section */
.about-section {
    margin: 3em 0;
}

.about-section .background {
    background-image: url('/Images/craft_watch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 30cqi;
    position: relative;
}

.about-section .about-title {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title h3 {
    font-size: 10cqi;
    text-shadow: 1.5cqi 1.5cqi .7cqi black;
}

.brand {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2em;
    padding: 0 0 5em;
    border-bottom: 1px solid black;
}

.brand .brand-info {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brand .brand-img {
    display: flex;
    justify-content: center;
}

.brand .brand-img img {
    width: 40cqw;
    border-radius: .5em;
}

.trading-times {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    padding: 0 0 2em;
    border-bottom: 1px solid black;
}

.trading-times .time-info {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;
}

.trading-times .time-img {
    display: flex;
    justify-content: center;
}

.trading-times .time-img img {
    width: 40cqw;
    border-radius: .5em;
}

.store-info .location {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
}

.location .shop {
    grid-area: 1 / 2 / span 3 / span 2;
}

.store-info .hours {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
}

.services {
    padding: 0 0 2em;
    border-bottom: 1px solid black;
}

.services-title {
    text-align: center;
}

.free-return {
    text-align: right;
}

.free-shipping {
    text-align: right;
}

.staff {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    padding: 0 1em 2em;
}

.staff .boss-img {
    display: grid;
    align-items: center;
    justify-content: center;
}

.staff img {
    height: 40cqi;
    border-radius: 50%;
}

.story-info .story-title, .staff-heading {
    color: green;
}

/* Product Section */
.products {
    display: grid;
    min-height: 30cqi;
    min-width: 15em;
    margin: 4em 0 0;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.products .filter-section {
    background-color: rgb(214, 213, 213);
    padding: 2cqi;
    margin: 0 auto;
}

.filter-section .side-search {
    display: flex;
    flex-direction: column;
    margin: 0 0 1cqi;
}

.side-search .form-control {
    margin: 0 0 1.5cqi;
}

.side-category .desktop-search {
    display: flex;
    flex-direction: column;
}

.side-category .category-btn {
    margin: .5em 1em;
}

.side-category p {
    font-size: 1em;
    text-align: center;
}

.dropdown {
    display: none;
}

.dropdown-menu a {
    border-radius: 5em;
    width: 12em;
}

.dropdown-menu a:hover {
    background-color: black;
    color: white;
}

.sort-btn {
    margin: .5em 0;
}

.sort {
    margin: .5em 0;
}

.product-info {
    min-width: 10em;
    min-height: 10em;
    grid-area: 1 / 2 / span 2 / span 3;
}

.product-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    min-height: 20em;
}

.product-box .items {
    border: 5px solid black;
    margin: 1em;
    min-height: 15cqi;
    height: 14em;
    text-align: center;
}

.product-box .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.product-box .items img {
    height: 5em;
    width: 5em;
}

/* Product Item */
.item-box {
    margin: 4em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-box .item-image {
    overflow: hidden;
    height: 33cqh;
    margin: 0 auto;
}

.item-box .item-image img {
    height: 30cqh;
    margin: 0 auto;
    display: flex;
    min-width: 5em;
    object-fit: cover;
}

.item-box .item-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.item-info .purchase {
    min-width: 10cqi;
    margin: 0 0 2em;
    width: 15em;
    margin: 1em auto;
}

/* Cart Section */
.checkout-section {
    margin: 4em 0 0;
}

.cart-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-title .amount {
    padding: 0 1cqi;
}

.cart-table {
    margin: 0 auto 3em;
    box-shadow: .1em .1em .5em black;
    width: clamp(.1em, 90vw, 70em);
}

.cart-thead {
    background-color: black;
    color: white;
}

.table-item {
    padding: .2em clamp(.1em, .5vw, 10em);
    text-align: center;
}

.tbody-row {
    border-bottom: 1px solid black;
}

.tbody-row:nth-child(2n) {
    background-color: rgb(221, 230, 254);
}

.tbody-row img {
    width: clamp(2em, 6vw, 5em);
    border-radius: 50%;
    border: 2px solid blue;
    object-fit: cover;
}

.tbody-row img:hover {
    box-shadow: 0 0 .3cqi black;
}

.cart-table .name {
    padding: 0 clamp(.1em, 3vw, 10em);
}

.cart-table .remove {
    margin: 0 -10em;
    cursor: pointer;
}

.total-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.remove-item, .increment, .decrement {
    cursor: pointer;
}

/* Admin Section */
.admin-section {
    margin: 4em 0 0;
    overflow-x: hidden;
}

.search {
    text-align: center;
    margin: 0 0 2em;
    transition: 2s;
}

.search input {
    width: max(10em, 70vw, 5em);
    height: clamp(2em, 7cqw, 3em);
    border-radius: 2em;
    padding: 0 2cqi;
}

.admin-table {
    display: flex;
    justify-content: center;
}

.admin-table tr:nth-child(2n) {
    background-image: linear-gradient(to right,white ,lightblue 10% 90%, white);
}

.admin-table th {
    border-bottom: 1px solid black;
}

.admin-table th, td{
    padding: 0 clamp(.2em, 3.5vw, 20em);
    text-align: center;
    height: 3cqw;
}

.add-items {
    text-align: center;
    margin: 0 0 2cqi;
}

.add-items button {
    width: 17cqi;
    transition: .3s;
}

.add-items .add-btn {
    border: 2px solid black;
    border-radius: 0;
    background-color: #F0F0F0;
}

.add-items button:hover {
    background-color: #e3dede;
}

.add-items button:active {
    scale: .95;
}

.modal-body .input {
    padding: .5em;
}

.modal-body input {
    width: 100%;
}

.admin-row img {
    height: clamp(2em, 10cqi, 5em);
    /* width: 5em; */
}

@media only screen and (min-width: 536px) and (max-width: 760px) {
    /* Home Section */
    .landing {
        margin: 6em 0;
    }

    .landing .heading {
        padding: 0 0 2em;
    }

    .slider {
        margin: 10em 0;
    }

    /* About Section */
    .trading-times {
        order: 1;
    }

}

@media only screen and (min-width: 301px) and (max-width: 535px) {
    /* Home Section */
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .title {
        text-align: center;
        margin: 5em 0;
    }

    .mobile-nav h5 {
        font-size: 5cqi;
    }

    .mobile-nav a {
        font-size: 4cqi;
    }

    .landing {
        margin: 10em 0;
    }

    .landing .heading {
        padding: 0 0 2em;
    }

    .slider {
        margin: 10em 0;
    }

    /* About Section */
    .trading-times .time-img {
        order: 1;
    }

    .services h4, p {
        text-align: center;
    }

    .staff {
        text-align: center;
    }

    .story-info .story-title, .staff-heading {
        color: green;
        text-align: center;
    }

    /* Product Section */
    .desktop-search {
        display: none !important;
    }

    .dropdown {
        display: grid;
        margin: 1cqi 0 0;
    }

    .product-info {
        grid-area: 2;
    }

}

@media only screen and (max-width: 300px) {
    /* Home Section */
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .title {
        text-align: center;
        margin: 5em 0;
    }

    .mobile-nav h5 {
        font-size: 5cqi;
    }

    .mobile-nav a {
        font-size: 4cqi;
    }

    .landing {
        margin: 10em 0;
    }

    .landing .heading {
        padding: 0 0 2em;
    }

    .slider {
        margin: 10em 0;
    }

    /* About Section */
    .trading-times .time-img {
        order: 1;
    }

    .services h4, p {
        text-align: center;
    }

    .story-info .story-title, .staff-heading {
        color: green;
        text-align: center;
    }

    /* Product Section */
    .desktop-search {
        display: none !important;
    }

    .dropdown {
        display: grid;
        margin: .2cqi 0 0;
    }

    .product-info {
        grid-area: 2;
    }
    
}